*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(221, 212, 198);
}
.main-container{
    width: 500px;
    height: 750px;
    padding: 30px;
    border-radius: 30px;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.img-container,
h3,
p{
    margin-bottom: 30px;
    text-align: center;
}
.img-container{
    height: 70%;
    border-radius: 15px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
h3{
    font-size: 33px;
    font-weight: 900;
}
p{
    font-size: 23px;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}
.adding{
    margin: 0;
    font-size: 15px;
}